<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
  <connectionStrings>
    <!--wechatserver数据库连接-->
    <add name="WechatServerConnection" connectionString="Data Source=192.168.192.25;Database=Wechat_Server;User ID=sa;Password=123456;pooling=true;" providerName="System.Data.SqlClient" />
  </connectionStrings>
  <appSettings>
    <!--MySql服务连接字符串-->
    <add key="MySqlConnectionStr" value="Database=weixin_server;Data Source=localhost;User Id=root;Password=90-=uiop;pooling=false;CharSet=utf8;port=3306" />
  </appSettings>
  <configSections>
    <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler,log4net" />
  </configSections>
  <!--服务日志配置-->
  <log4net>
    <appender name="LogINFOAppender" type="log4net.Appender.RollingFileAppender">
      <!--是否续写-->
      <param name="AppendToFile" value="true" />
      <!--最小锁定模型以允许多个进程可以写入同一个文件-->
      <param name="LockingModel" value="log4net.Appender.FileAppender.MinimalLock" />
      <param name="StaticLogFileName" value="true" />
      <!--保存路径-->
      <param name="File" value="Log\\Infolog\\" />
      <param name="DatePattern" value="yyyy-MM-dd.LOG" />
      <param name="StaticLogFileName" value="false" />
      <param name="RollingStyle" value="Date" />
      <param name="Encoding" value="utf-8" />
      <layout type="log4net.Layout.PatternLayout">
        <param name="ConversionPattern" value="时间:%d日志内容:%m%n-----------------------------------------%n%n" />
      </layout>
    </appender>
    <appender name="LogWARNOAppender" type="log4net.Appender.RollingFileAppender">
      <!--是否续写-->
      <param name="AppendToFile" value="true" />
      <!--最小锁定模型以允许多个进程可以写入同一个文件-->
      <param name="LockingModel" value="log4net.Appender.FileAppender.MinimalLock" />
      <param name="StaticLogFileName" value="true" />
      <!--保存路径-->
      <param name="File" value="Log\\Warnolog\\" />
      <param name="DatePattern" value="yyyy-MM-dd.LOG" />
      <param name="StaticLogFileName" value="false" />
      <param name="RollingStyle" value="Date" />
      <param name="Encoding" value="utf-8" />
      <layout type="log4net.Layout.PatternLayout">
        <param name="ConversionPattern" value="时间:%d日志内容:%m%n-----------------------------------------%n%n" />
      </layout>
    </appender>
    <appender name="LogERRORAppender" type="log4net.Appender.RollingFileAppender">
      <!--是否续写-->
      <param name="AppendToFile" value="true" />
      <!--最小锁定模型以允许多个进程可以写入同一个文件-->
      <param name="LockingModel" value="log4net.Appender.FileAppender.MinimalLock" />
      <param name="StaticLogFileName" value="true" />
      <!--保存路径-->
      <param name="File" value="Log\\Errorlog\\" />
      <param name="DatePattern" value="yyyy-MM-dd.LOG" />
      <param name="StaticLogFileName" value="false" />
      <param name="RollingStyle" value="Date" />
      <param name="Encoding" value="utf-8" />
      <layout type="log4net.Layout.PatternLayout">
        <param name="ConversionPattern" value="时间:%d日志内容:%m%n-----------------------------------------%n%n" />
      </layout>
    </appender>
    <!-- Print only messages of level DEBUG or above in the packages -->
    <logger name="InfoLog">
      <level value="INFO" />
      <appender-ref ref="LogINFOAppender" />
    </logger>
    <logger name="WarnLog">
      <level value="WARN" />
      <appender-ref ref="LogWARNOAppender" />
    </logger>
    <logger name="ErrorLog">
      <level value="ERROR" />
      <appender-ref ref="LogERRORAppender" />
    </logger>
  </log4net>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Runtime.CompilerServices.Unsafe" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.5.0" newVersion="4.0.5.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Buffers" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.3.0" newVersion="4.0.3.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>