
@{
    Layout = null;
}

<!DOCTYPE html>
<html>
<head>
    <title>微信后台登录</title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <link href="~/Bootstrap/vendors/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet" />
    <link href="~/Bootstrap/vendors/font-awesome/css/font-awesome.min.css" rel="stylesheet" />
    <link href="~/Bootstrap/vendors/nprogress/nprogress.css" rel="stylesheet" />
    <link href="~/Bootstrap/vendors/animate.css/animate.min.css" rel="stylesheet" />
    <link href="~/Bootstrap/build/css/custom.min.css" rel="stylesheet" />
    <script src="~/Scripts/jquery-3.3.1.min.js"></script>
</head>
<body>
    <div>
        <div class="login_wrapper">
            <div class="animate form login_form">
                <section class="login_content">
                    <form action="/Home/Login" onsubmit="return onSubmit()">
                        <h1>登录</h1>
                        <div>
                            <input type="text" autocomplete="off" class="form-control" name="Account" id="Account" placeholder="用户名" />
                        </div>
                        <div>
                            <input type="password" autocomplete="off" class="form-control" name="Pwd" id="Pwd" placeholder="密码" />
                        </div>

                        <div style="color:red;text-align:center" id="msgtxt">
                            @if (!string.IsNullOrEmpty(ViewBag.ErrorMessage))
                            {
                                @ViewBag.ErrorMessage
                            }
                        </div>

                        <div>
                            <input class="btn btn-default submit" type="submit" value="登录">
                            <a class="reset_pass" href="#">忘记密码？</a>
                        </div>
                        <div class="clearfix"></div>
                        <div class="separator">
                            <div class="clearfix"></div>
                            <br />
                            <div>
                                <p>©2020 上海展通国际物流有限公司版权所有</p>
                            </div>
                        </div>
                    </form>
                </section>
            </div>
            <div id="register" class="animate form registration_form">
                <section class="login_content">
                    <form>
                        <h1>Create Account</h1>
                        <div>
                            <input type="text" class="form-control" placeholder="Username" required="" />
                        </div>
                        <div>
                            <input type="email" class="form-control" placeholder="Email" required="" />
                        </div>
                        <div>
                            <input type="password" class="form-control" placeholder="Password" required="" />
                        </div>
                        <div>
                            <a class="btn btn-default submit" href="index.html">Submit</a>
                        </div>
                        <div class="clearfix"></div>
                        <div class="separator">
                            <p class="change_link">
                                Already a member ?
                                <a href="#signin" class="to_register"> Log in </a>
                            </p>
                            <div class="clearfix"></div>
                            <br />
                            <div>
                                <h1><i class="fa fa-paw"></i> Gentelella Alela!</h1>
                                <p>©2016 All Rights Reserved. Gentelella Alela! is a Bootstrap 3 template. Privacy and Terms</p>
                            </div>
                        </div>
                    </form>
                </section>
            </div>
        </div>
    </div>
    <script>
        function onSubmit() {
            if ($("#Account").val() == "") {
                $("#msgtxt").html("请输入账户!");
                return false;
            }
            if ($("#Pwd").val() == "") {
                $("#msgtxt").html("请输入密码!");
                return false;
            }
            $("#msgtxt").html("");
            return true;
        }

    </script>
</body>
</html>
