
.result-info2{border-collapse:collapse;border-spacing:0;width:100%;}
.result-info2 td{padding:5px;color:#878787;border-bottom:1px solid #d8d8d8 !important;background-color:#fbfbfb !important}
.result-info2 .status{width:35px;background:url(img/ico_status.gif) -50px center no-repeat #fbfbfb}
.result-info2 .status-first{background:url(img/ico_status.gif) 0px center no-repeat #fbfbfb}
.result-info2 .status-check{background:url(img/ico_status.gif) -150px center no-repeat #fbfbfb}
.result-info2 .status-wait{background:url(img/ico_status.gif) -100px center no-repeat #fbfbfb}
.result-info2 .last td{color:#FF8c00;border-bottom:none;background-color:#ffffff !important}
.result-info2 .row1{width:10%;text-align:right;}




.green_borderbottom{border-bottom:3px #759a51 solid;}
.blue_borderbottom{border-bottom:3px #198bbd solid;}
.red_borderbottom{border-bottom:3px #8e262c solid;}
.purple_borderbottom{border-bottom:3px #671a4b solid;}
.pink_borderbottom{border-bottom:3px #d36755 solid;}
.orange_borderbottom{border-bottom:3px #c55512 solid;}
.black_borderbottom{border-bottom:3px #000000 solid;}
.gray_borderbottom{border-bottom:3px #535150 solid;}
.yellow_borderbottom{border-bottom:3px #e3a000 solid;}
.bluegreen_borderbottom{border-bottom:3px #058770 solid;}
.darkblue_borderbottom{border-bottom:3px #003a62 solid;}

.green{ background-color:#85af5d;}
.blue{ background-color:#29aae3;}
.darkblue{ background-color:#035792;}
.red{ background-color:#c53238;}
.purple{ background-color:#8b2767;}
.pink{ background-color:#f87c68;}
.orange{ background-color:#f17225;}
.black{ background-color:#272625;}
.gray{ background-color:#6e6e6e;}
.yellow{ background-color:#ffb606;}
.bluegreen{ background-color:#06a78b;}

html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, font, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td { margin: 0; padding: 0; border: 0; outline: 0; font-size: 100%; vertical-align: baseline; background: transparent; } body { line-height: 1; } ol, ul { list-style: none; } blockquote, q { quotes: none; } blockquote:before, blockquote:after, q:before, q:after { content: ''; content: none; } :focus { outline: 0; } ins { text-decoration: none; } del { text-decoration: line-through; } table { border-collapse: collapse; border-spacing: 0; }
.image_caption{ width:100%; text-align:center; color:#FFFFFF;padding:10px 0; font-size:18px;margin-bottom:10px;}
.radius4{-webkit-border-radius:4px;-moz-border-radius:4px;border-radius:4px;}
