<?xml version="1.0" encoding="utf-8" ?>
<appSettings>
  <add key="webpages:Version" value="3.0.0.0"/>
  <add key="webpages:Enabled" value="false"/>
  <add key="ClientValidationEnabled" value="true"/>
  <add key="UnobtrusiveJavaScriptEnabled" value="true"/>

  <!--公众号APPID-->
  <add key="OAAppId" value="wx241b90afaa8fde77" />
  <!--公众号AppSecret-->
  <add key="OAAppSecret" value="43c74e6a021bfa166c5f5c42d504558e" />
  <!--请求微信基础地址-->
  <add key="WechatBaseUrl" value="https://api.weixin.qq.com" />
  <!--api接口sign-->
  <add key="Sign" value="f21642cd-0a23-4a97-9302-9e122d0ed154" />
  <!--模板id 快递发货通知-->
  <add key="TemplateId" value="iQdgngH7N4tisiJmljt_dijZ-Y9cU0fRj05q9MUp2XA" />

  <!--小程序APPID-->
  <add key="ApAppId" value="wxe869b7277e0735dd" />
  <!--小程序AppSecret-->
  <add key="ApAppSecret" value="427f95ab2fb8d90452de35a85e321aea" />

  <!--内部api接口基础地址 ==> 手机短信-->
  <add key="InsideApiBaseUrl" value="http://192.168.192.22/WechatApi" />
  <!--内部api接口秘钥  ==> 手机短信-->
  <add key="InsideApiKey" value="54B417B0-463D-4F2B-8075-0A20EEDB773B" />
  <!--内部api接口基础地址  ==> 物流/库存/订单-->
  <add key="InsideApiBaseUrl2" value="https://192.168.192.23:4443/api/jointac/wechat/private" />
  <!--内部api接口秘钥  ==> 物流/库存/订单-->
  <add key="InsideApiKey2" value="12345678900" />
  <!--内部api接口基础地址  ==> 物流/库存/订单-->
  <add key="InsideApiBaseUrl3" value="http://192.168.192.174:8092/api" />
  <!--内部api接口秘钥  ==> 物流/库存/订单-->
  <add key="InsideApiKey3" value="" />

  <!--静态图片地址-->
  <add key="PublicImg" value="https://voip.jointac.com/Img/public" />
</appSettings>