<?xml version="1.0" encoding="utf-8" ?>
<!--服务日志配置-->
<log4net>
  <appender name="LogINFOAppender" type="log4net.Appender.RollingFileAppender">
    <!--是否续写-->
    <param name="AppendToFile" value="true" />
    <!--最小锁定模型以允许多个进程可以写入同一个文件-->
    <param name="LockingModel" value="log4net.Appender.FileAppender.MinimalLock" />
    <param name="StaticLogFileName" value="true" />
    <!--保存路径-->
    <param name="File" value="Log\\Infolog\\" />
    <param name="DatePattern" value="yyyy-MM-dd.LOG" />
    <param name="StaticLogFileName" value="false" />
    <param name="RollingStyle" value="Date" />
    <param name="Encoding" value="utf-8" />
    <layout type="log4net.Layout.PatternLayout">
      <param name="ConversionPattern" value="时间:%d日志内容:%m%n-----------------------------------------%n%n" />
    </layout>
  </appender>
  <appender name="LogWARNOAppender" type="log4net.Appender.RollingFileAppender">
    <!--是否续写-->
    <param name="AppendToFile" value="true" />
    <!--最小锁定模型以允许多个进程可以写入同一个文件-->
    <param name="LockingModel" value="log4net.Appender.FileAppender.MinimalLock" />
    <param name="StaticLogFileName" value="true" />
    <!--保存路径-->
    <param name="File" value="Log\\Warnolog\\" />
    <param name="DatePattern" value="yyyy-MM-dd.LOG" />
    <param name="StaticLogFileName" value="false" />
    <param name="RollingStyle" value="Date" />
    <param name="Encoding" value="utf-8" />
    <layout type="log4net.Layout.PatternLayout">
      <param name="ConversionPattern" value="时间:%d日志内容:%m%n-----------------------------------------%n%n" />
    </layout>
  </appender>
  <appender name="LogERRORAppender" type="log4net.Appender.RollingFileAppender">
    <!--是否续写-->
    <param name="AppendToFile" value="true" />
    <!--最小锁定模型以允许多个进程可以写入同一个文件-->
    <param name="LockingModel" value="log4net.Appender.FileAppender.MinimalLock" />
    <param name="StaticLogFileName" value="true" />
    <!--保存路径-->
    <param name="File" value="Log\\Errorlog\\" />
    <param name="DatePattern" value="yyyy-MM-dd.LOG" />
    <param name="StaticLogFileName" value="false" />
    <param name="RollingStyle" value="Date" />
    <param name="Encoding" value="utf-8" />
    <layout type="log4net.Layout.PatternLayout">
      <param name="ConversionPattern" value="时间:%d日志内容:%m%n-----------------------------------------%n%n" />
    </layout>
  </appender>
  <!-- Print only messages of level DEBUG or above in the packages -->
  <logger name="InfoLog">
    <level value="INFO" />
    <appender-ref ref="LogINFOAppender" />
  </logger>
  <logger name="WarnLog">
    <level value="WARN" />
    <appender-ref ref="LogWARNOAppender" />
  </logger>
  <logger name="ErrorLog">
    <level value="ERROR" />
    <appender-ref ref="LogERRORAppender" />
  </logger>
</log4net>